*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}


header{
    background-color: #122A57 ;
    display: flex;
    align-items: center;
    height: 100px;
    color: #FFF;
}

header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #FFF;
}

div img{
    display: block;
    width: 100%;
}


header .menu{
    justify-content: space-between;
    align-items: center;

}


.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao{
    height: 200px;
}

.texto-apresentacao h1{
    color:#122A57 ;
    font-size: 48px;
    margin-bottom: 10px;
}

.texto-apresentacao a{
    background-color: #122A57;
    color: #FFF;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;;
}


#quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;

}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
    text-justify: auto;
}

#quem-somos img{
    min-width: 520px;
}
